/* CSS Document */

.main-aut {
  width: 90%;
  margin: 0 auto;
}

.author-wra {
  font-size: 1.1rem;
  padding: 40px 0;
  h1 {
    text-align: center;
    font-size: 1.8rem;
    letter-spacing: 1px;
      margin-bottom: 15px;
  }
  p {
    font-size: 1.15rem;
    line-height: 1.4;
  }
  .katagaki {
    text-align: center;
    font-size: 1.15rem;
    margin-bottom: 15px;
    color: #626262;
    letter-spacing: 2px;
	display: block;
	 text-align: center;
	
  }
  .p-wra {
    width: 60%;
    max-width: 250px;
    margin: 0 auto 18px;
  }
  .shoukai {
    margin-bottom: 35px;
      line-height: 2.1;
      font-size: 1.02rem;
      color: #626262;
      letter-spacing: 0.17rem;
      p {
          line-height: 2.1;
      }
  }
  dl {
    margin-bottom: 34px;
    dt {
      font-weight: 600;
      font-size: 1.3rem;
      margin-bottom: 0.6rem;
      padding-bottom: 0.6rem;
      border-bottom: 1px solid #454545;
    }
      dd {
          color: #626262;
          letter-spacing: 1px;
          
             span {
              margin-right: 1em;
            }  
      } 
   
  }
    
    
    .rf p {
        margin-bottom: 0.6rem;
        color: #626262;
        letter-spacing: 1px;
        a  {
            font-size: 1.6rem;
            letter-spacing: 1px;
            color: #6626262;
        }
    }    
    
  .c-cont dd {
    .p-wra {
      float: left;
      width: 100px;
      height: 100px;
    }
    .c-dis {
      padding-left: 120px;
      p {
        margin-bottom: 12px;
		font-size: 14px;  
        &.c-name {
          font-size: 1.54rem;
          font-weight: 500;
		  letter-spacing: 1px;	
        }
      }
    }
  }
  h2 {
    background: none;
    text-align: center;
    color: #000;
    font-size: 1.47rem;
  }
}

/*SNSアイコン設定*/

  .icon {
                        padding-left: 50px;
                        background: no-repeat 0% 50%/ 30px auto;
                        line-height: 1.45;
                        display: block;
                    }
                    
                    .insta {
                        background-image: url("../images/instagram.png");
                    }
                    
                    .twitter {
                        background-image: url("../images/twittter.png");
                    }
                    
                    .facebook {
                        background-image: url("../images/facebook.png");
                        background-size: 15px auto;
                        background-position: 0.6% 50%;
                    }
                 
                 @media (max-width: 767px) {
                     
                     .facebook {
                         background-position: 1.4% 50%;
                     }
                     
                 }
                



@media (min-width: 768px) {
  .main-aut {
    width: 900px;
    margin: 0 auto;
  }
  .a-cont {
    margin-bottom: 50px;
    .p-wra {
      float: left;
    }
    .p-left {
      padding-left: 310px;
    }
  }
  .author-wra {
    h1 {
      text-align: left;
      font-size: 1.8rem;
        margin-bottom: 30px;
    }
    p {
      font-size: 1.1rem;
      line-height: 1.4;
    }
    .katagaki {
      text-align: left;
      font-size: 0.92rem;
      margin-left: 30px;
      margin-bottom: 0px;
	  display: inline-block;
        vertical-align: middle;
    }
    .c-cont {
    
      dd {
        .p-wra {
          width: 360px;
          height: 260px;
          max-width: none;
          img {
            height: -webkit-fill-available;
            height: -moz-available;
            height: fill-available;
          }
        }
        .c-dis {
          padding-left: 420px;
        }
      }
    }
  }
}